:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2{
  font-size: 62px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav{
  padding: 20px 0;
}

nav ul{
  padding: 0;
  margin: 0;
}

nav li{
  list-style: none;
  display: inline;
  line-height: 40px;
  margin-left: 10px;
}

nav a{
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a{
  color: var(--branding-color);
}

footer{
  margin: 60px 0;
}

footer .contact-info{
  padding: 30px 120px;
  border-radius: 10px;
  background: var(--secondary-color);
}

footer .contact-info p{
  margin: 0;
}

footer .email-link{
  color: black;
  font-size: 22px;
  text-decoration: none;
}

footer .email-link:hover{
  color: var(--branding-color);
}

footer  .social-links a{
  margin: 0 15px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover{
color: var(--secondary-color);
background-color: var(--branding-color);
}

@media (max-width: 960px) {
  h1{
    line-height: 2;
    font-size: 42px;
  }
  h2{
    font-size: 42px;
  }

  h3{
    font-size: 25px;
  }

  .content-container, .main-content{
    text-align: center;
    padding: 0;
  }
.project-description{
  padding: 0;
  text-align: center;
}

}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 60px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.project-description{
  padding: 40px 20px;
}

.btn-main {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  transition: all 150ms ease-in-out;
}

.btn-main:hover{
  background-color: white;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.btn-view-project{
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 5px;
  line-height: 27px;
  padding: 15px 30px;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}

.btn-view-project:hover{
  background: var(--branding-color);
  color: white;
}

.content-container{
  padding: 30px;
}


.main-content h1{
  font-size: 60px;
  line-height: 70px;
}

.main-content h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}

.main-content h3 {
  font-size: 22px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.main-content p{
  font-size: 14px;
}

.main-content{
  margin: 25px;
}

.selfie{
  border-radius: 10px;
  max-width: 80%;
}

.logo{
  max-width: 80px;
}
